.meetingOff{
  background-image: url("./img/bgoff.png");
  background-color: #20CD5B;
  background-size: 100%;
  background-position: center;
}
.meetingOn{
  background-image: url("./img/bg.png");
  background-size: cover;
  background-position: center;
}
.msg{
  color:rgb(233, 230, 230);
  font-size: 37px;
  font-family: 'Plus Jakarta Sans', sans-serif;
}

.moh1{
  color: #FFFBFB;
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-size: 100px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.mop1
{
color: #dedede;
font-family: 'Plus Jakarta Sans', sans-serif;
font-size: 43px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.mop2{
color: #FFF;
font-family: 'Plus Jakarta Sans', sans-serif;
font-size: 48px;
font-style: normal;
font-weight: 700;
line-height: normal;
}